// Estilos básicos
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #190028; /* opcional, para que todo el body tenga el fondo */
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    div {
      display: flex;
      flex-direction: column;
    }
    
    .error {
      color: red;
    }
  }
}